<div>
  <div class="video-container">
        <video autoplay muted loop class="fullscreen-video">
          <source src="../../assets/istockphoto-606042756-640_adpp_is.mp4" type="video/mp4">
        </video>
  </div>
    @if(isEdit){
      <h1 class="form-header">Edit Menu Item</h1>
    }@else{
    <h1 class="form-header">Add Menu Item</h1>}
    <div class="container">
    <form [formGroup]="menuItemForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" placeholder="Enter the item Name">
      <div *ngIf="menuItemForm?.get('name')?.invalid && menuItemForm?.get('name')?.touched">
        <small  class="text-danger">Name is required.</small>
      </div>
    </div >
    <div class="form-group">
      <label for="description">Description</label>
      <textarea formControlName="description" placeholder="Description"></textarea>
      <div *ngIf="menuItemForm.get('description')?.invalid && menuItemForm.get('description')?.touched">
        <small class="text-danger">Description is required.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" formControlName="price" placeholder=0>
      <div *ngIf="menuItemForm.get('price')?.invalid && menuItemForm.get('price')?.touched">
        <small class="text-danger">Price is required.</small>
      </div>
    </div>
    <div>
      <label for="foodType">Select Food Type</label>
    </div>
      <label><input type="radio" formControlName="foodType" value="veg" />Veg</label>
      <label><input type="radio" formControlName="foodType" value="non-veg" />Non-Veg</label>
      <div *ngIf="menuItemForm.get('foodType')?.invalid && menuItemForm.get('foodType')?.touched">
        <small class="text-danger">Please select a food type.</small>
      </div>
    <div><h2>Category</h2><select formControlName="category" (ngModel)="selectedCategory">
      <option value="" disabled>Select a category</option>
      <option *ngFor="let category of categories" [value]="category">{{category}}</option></select>
      <div *ngIf="menuItemForm.get('category')?.invalid && menuItemForm.get('category')?.touched">
        <small class="text-danger">Please select a category.</small>
      </div>
    </div>
    <div class="form-group"><label for="calories">Calories</label><input type="number" formControlName="calories"placeholder=0>
      <div *ngIf="menuItemForm.get('calories')?.invalid && menuItemForm.get('calories')?.touched">
      <small class="text-danger">Calories is required.</small></div>
    </div>
    >
    <div class="form-group"><label for="preparationTime">Preparation Time (minutes):</label><input type="number" formControlName="preparationTime"placeholder=0>
      <div *ngIf="menuItemForm.get('preparationTime')?.invalid && menuItemForm.get('preparationTime')?.touched">
        <small class="text-danger">preparation Time is required.</small>
    </div></div>
    <div class="form-group">
      <label for="photo">Upload Photo:</label><input type="file" formControlName="photo">
    </div>
    @if(isEdit){
      <button type="submit">Update Menu Item</button>
    }
    @else{
    <button type="submit"   >Add Menu Item</button>
    }
  </form>
</div>
</div>