################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlinePizzaOrderingSystem/.vs/OnlinePizzaOrderingSystem/v17/.suo
