.container {
  background-image: url('../../assets/pexels-ella-olsson-1640773.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px; /* Add padding to the container to provide space around the content */
  min-height: 100vh; /* Set minimum height to cover the entire viewport */
  min-width:100%;;
}
.form-header {
    font-size: 3rem;
    color:white;
    text-align:center;
    margin-bottom: 20px;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-bottom:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(4, 4, 4,0.5);
    /* background: transparent; */
  }
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  