.toggle-button {
    background-color:black; /* Green background */
    border:none;
    color:white; /* White text */
    font-weight: bold;
    padding: 10px 10px; /* Padding */
    text-align: center; /* Center text */
    font-size:25px;
    cursor: pointer; /* Cursor on hover */
    border-radius:5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  .sidebar {
    float: left;
    background-color:black;
  } 

  