<!-- <div class="sidebar" [@slideInOut]="sidebarState">
  <ul>
    <li><a routerLink="/menu">
      <i class="fas fa-utensils"></i>
      <span>Menu</span></a>
    </li>
    <li><a routerLink="/user"><i class="fas fa-user"></i>
      <span>User</span></a></li>
    <li><a routerLink="/order">
      <i class="fas fa-shopping-cart"></i>
      <span>Order</span></a>
    </li>
    <li><a routerLink="/sidebar">
      <span>Home</span></a>
    </li>
  </ul>
</div>
-->

<div class="sidebar" [@slideInOut]="sidebarState">
  <ul>
    <li><a routerLink="/homepage">
      <i class="fas fa-home"></i>
      <span>Home</span></a>
    </li>
    <li><a routerLink="/menu">
      <i class="fas fa-utensils"></i>
      <span>Menu</span></a>
    </li>
    <li><a routerLink="/user"><i class="fas fa-user"></i>
      <span>User</span></a></li>
    <li><a routerLink="/order">
      <i class="fas fa-shopping-cart"></i>
      <span>Order</span></a>
    </li>
    
  </ul>
</div>

