<!-- @if(employeeList && employeeList.length>0) -->

    <div class="container">
      <div class="sidebar">
        <button (click)="toggleSidebar()" class="toggle-button"> <i class="fas fa-bars"></i> </button>
        <app-sidebar *ngIf="sidebarOpen"></app-sidebar> 
      </div>
      <h1 class="form-header">Menu</h1>
        <div align="right">
          <button  routerLink="/addMenuItem" mat-raised-button color="primary">Add Item</button>
        </div>
        <div class="table-container"><table class="menu-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Food Type</th>
                <th>Category</th>
                <th>Calories</th>
                <th>Preparation Time</th>
                <th>Photo</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let menuItem of menuItems">
                <td>{{ menuItem.name }}</td>
                <td>{{ menuItem.description }}</td>
                <td>{{ menuItem.price }}</td>
                <td>{{ menuItem.foodtype }}</td>
                <td>{{ menuItem.category }}</td>
                <td>{{ menuItem.calories }}</td>
                <td>{{ menuItem.preparationTime }}</td>
                <td><img [src]="menuItem.photo" alt="{{ menuItem.name }}" class="menu-item-photo"></td>
                <td>
                  <button (click)="editMenuItem(menuItem)" >Edit</button>
                  <button (click)="deleteMenuItem(menuItem)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>  
        </div>        
    </div>

