footer {
    background-color: #ac6868; /* Set background color of the entire footer to black */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    
    
    }
 
    /* .footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
      }  */
     
     .container p {
        margin: 20;
        text-align: center;
      }  
     
     
  /* .about-us,
  .services,
  .have-a-question {
    flex: 1;
    margin: 0 10px;
  } */
 
  .social-icons {
    margin-top: 10px;
  }
 
   .social-icons img {
    width: 30px; /* Adjust the width of the social icons */
    margin-right: 10px; /* Adjust the spacing between the icons */
  }
   
  .social-icons {
    margin-top: 10px; /* Adjust the top margin as needed */
  }
 
  .social-icons i {
    margin-right: 10px; /* Adjust the right margin to add space between icons */
  }
 
 
 
  .Services ul {
    list-style: none;
    padding: 0;
  }
  .RecentBlog ul {
    list-style: none;
    padding: 0;
  }
  .services ul li {
    margin-bottom: 5px;
  }
 
 
/* Set background color to black for the entire page */
body {
    background-color: rgb(12, 12, 12);
    color: rgb(21, 20, 20); /* Set default text color to white */
}
 
 
   
 