

.container {
  display: flex;
  background-image: url('../../assets/pexels-ella-olsson-1640773.jpg'); /* Adjust the path to your image file */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
h2 {
    margin-top:100px;
    font-size: 36px;
    font-weight: bold;
    color:black;
    margin-bottom: 10px;
    text-align: center;
    
  }

  p {
    font-size: 18px;
    color:black;
  }
 